In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

_df1 = DataFrame({"a":[1,2,3,4,5],"b":[44,56,76,23,21]})
_df2 = DataFrame({"c":[1,2,3,4,5],"b":[54,76,776,273,271]})
print(_df2)
print(_df1)
_df3 = pd.merge(_df1,_df2,on='b',how="outer")# "b" on one data_obj has 76 and 3, it will merge with similar b in other obj, and should have one column 
#column at least one should be common
_df3
#if we don't mention on="column", and how="outer/left/right", then it will go for perfect matching

     b  c
0   54  1
1   76  2
2  776  3
3  273  4
4  271  5
   a   b
0  1  44
1  2  56
2  3  76
3  4  23
4  5  21

     a    b    c
0  1.0   44  NaN
1  2.0   56  NaN
2  3.0   76  2.0
3  4.0   23  NaN
4  5.0   21  NaN
5  NaN   54  1.0
6  NaN  776  3.0
7  NaN  273  4.0
8  NaN  271  5.0

In [8]:
#merge dataframe with index
_df4 = DataFrame({"Column":[22,23,24,24,34],"Dosa":[122,323,345,23,11]})
_df5 = DataFrame({"Panipuri":[212,213,214,244,314],"Samosa":[1222,3223,3245,223,121]})
_df5

   Panipuri  Samosa
0       212    1222
1       213    3223
2       214    3245
3       244     223
4       314     121

In [10]:
_df6 = pd.merge(_df4,_df5,how="outer")
_df6
#MErge is always on a common platform
#I am skipping merge on index for a while

MergeError: No common columns to perform merge on

## Concatenate 
we can concatenate two matrix/arrays using np.concatenate(arr1,arr2,axis=1/0

In [12]:
_df7 = DataFrame(_df5.values.reshape(10,1),columns=["Numbers"])
_df7
_df8 = DataFrame(_df4.values.reshape(10,1),columns=["Numbers"])
_df8
_df9 = pd.concat([_df7,_df8],ignore_index=True)
print(_df9)
#if we concatenate two series we can set keys=["set1","set2"]
#when we concatenate two df, and want index to going on numerically, we use ignore_index=True
_df10 = pd.concat([_df7,_df8],axis=1,keys=["set1","set2"])
_df10
#reshape new df to multi column frame
_df9 = DataFrame(_df9.values.reshape(4,5),columns=["set1","set2","set3","set4","set5"])
_df9
_df10

    Numbers
0       212
1      1222
2       213
3      3223
4       214
5      3245
6       244
7       223
8       314
9       121
10       22
11      122
12       23
13      323
14       24
15      345
16       24
17       23
18       34
19       11

     set1    set2
  Numbers Numbers
0     212      22
1    1222     122
2     213      23
3    3223     323
4     214      24
5    3245     345
6     244      24
7     223      23
8     314      34
9     121      11

In [65]:
#cobining dataframe or series
#we use dataframe_obj.combine_first(dataframe2_obj)
# _df9.combine_first(_df10)
# _df9
#only when at least have one similar column,and same index level
#if there is NaN in dataframe_obj, and it's on same level as dataframe2_obj then NaN is replaced by value of df2

# .pivot_table(values=" ", index=" ",columns=" ") method is very important to simply data visualization
### we have many columns with data, like c1={x,x,x,y,y,y,z} sp c2={}, cn={},and we want data betwenn c1,c2 and c3, we can use pivot, c1 as index, c2 as x{a,b,c}, and between them values

In [64]:
_d1 = DataFrame({"Range":["X","X","Y","Z","Y"],"Values":[1,2,3,4,5],"Date":["22/2","22/2","24/2","22/2","24/2"]})
_d1
_d2 = _d1.pivot_table(values='Values',index="Date",columns="Range")
_d2

Range    X    Y    Z
Date
22/2   1.5  NaN  4.0
24/2   NaN  4.0  NaN

# duplicates
#### we use method on dataframe_obj as .duplicated() it's boolean, if row is duplicated then it will o/p TRUE else FALSE
### we use method .drop_duplicates() to drop them
when droping, index remains same, and becomes disceret like, 0,2,6,7 to make it 0,1,2,3, we can reset index using
method .reset_index() it will create new index column, and also keeps previous one, which can be dropped using .drop()
sometimes we want to drop only duplicates if it's present on one column, like no duplicates of associated name even if it has everything else different.
we can do this by using same method .drop_duplicates(['column_name'])
by default, first value is considered original and rest not, but we can change format making it to considere last value as original
.drop_duplicates(take_last=True)

In [29]:
_d3 = DataFrame({"Range":["X","X","Y","Z","Y"],"Values":[1,1,3,4,3],"Date":["22/2","22/2","24/2","22/2","24/2"]})
print(_d3.duplicated())
_d3
_d4 = _d3.drop_duplicates()
_d4
# _d4 = _d4.ix[np.arange(0,4)]
_d4.index = [1,2,3]  
# _d4 = _d4.reset_index()
_d4
# _d4.drop("index",axis=1)

0    False
1     True
2    False
3    False
4     True
dtype: bool

   Date Range  Values
1  22/2     X       1
2  24/2     Y       3
3  22/2     Z       4

# reset_index() and then drop is better when data is huge, or else df.index  = [ ]

# Mapping of Elements and Replace, Rename too
dataframe_obj['column_name'] = dataframe_obj['column_to_map'].map(dict_of_elements_with_column_to_map)

In [27]:
_d5 = DataFrame({'city':['mumbai','delhi','paris','lucknow','pune','nashik']})
_d5['state'] = _d5['city'].map({'mumbai':'maharashtra','delhi':'delhi','paris':'france','lucknow':'uttarpradesh','pune':'maharashtra','nashik':'maharashtra'})
#
# _d5 = _d5['state'].sort_values()
_d5 = _d5.replace('maharashtra','Maharashtra') #This how we replace one element by another, like repetive name in a dataframe
_d5#we can also use array to replace like _d5.replace([v1,v2,vn],[rv1,rv2,rvn]) -> rv values to be replaced by
_d5.index = ["a","b","c","d","e","f"]#wow we can directly rename in this way
_d5
#also rename method is also available too  df.rename(index={dicitonary is passes},columns={})
#dicitionary is {"cureent name":"to be changed to"}

city          mumbai
state    Maharashtra
Name: a, dtype: object

## pd.cut(list_to_be_cut,categories)
### Instead of manually assigning values in range, we can use cut method
# IT"S binning in pandas

In [60]:
l1= (np.random.randint(0,1000,1000))/10
l2= [0,10,20,30,40,50,60,70,80,90,100]
l3 = pd.cut(l1,l2)# .cut(list,N,precision=n) N -> in equal parts need to be cut
l3.categories 
pd.value_counts(l3)
l3

[(40, 50], (70, 80], (80, 90], (10, 20], (70, 80], ..., (40, 50], (20, 30], (90, 100], (0, 10], (10, 20]]
Length: 1000
Categories (10, object): [(0, 10] < (10, 20] < (20, 30] < (30, 40] ... (60, 70] < (70, 80] < (80, 90] < (90, 100]]

In [68]:
#Only one column is fragmented as for now

_d6 = DataFrame({"set1":np.random.randint(0,20,5),"set2":np.random.randint(10,20,5)})
l2 = [0,5,10,15,20]
grp = ["low","okay","good","great"]
Rank1 = pd.cut(_d6["set1"],l2,labels=grp)
_d6["Rank1"] = pd.cut(_d6["set1"],l2,labels=grp)
Rank
Rank2 = pd.cut(_d6["set2"],l2,labels=grp)
_d6["Rank2"] = pd.cut(_d6["set2"],l2,labels=grp)
_d6

   set1  set2 Rank1  Rank2
0    13    18  good  great
1     3    18   low  great
2     8    13  okay   good
3    15    16  good  great
4    13    17  good  great

In [76]:

_d7 = DataFrame(np.random.randn(1000,4))
_d7 = np.random.randn(1000,4)
_d7 = DataFrame(np.random.randint(0,100,size=(4,4)))
_d7

    0   1   2   3
0  78  89  19   7
1  14  41  62  69
2   9  44  35  23
3  95   8  54  80

In [77]:
_d8 = DataFrame(np.random.randint(0,100,5))
_d8

    0
0  17
1  55
2  29
3  78
4  68

In [104]:
l_ = np.random.randn(0,5)
import random
m = [0,1,2,3]
random.shuffle(m)
_d7 = DataFrame(np.random.randint(0,100,size=(4,4)))
_d7.take(m)

    0   1   2   3
3  54   6  11  85
1  15  77  51  46
0  43  43   0  16
2  78  44  99  12

[2, 4, 1, 0, 5, 3]

# Filter Data
# df = df[df["column"] == condition]